{% extends 'base.html' %}
{% block content %}
    <div style="text-align: center; max-width: 200rem; margin: 0 auto;">
        <form action="{% url 'review:review_create' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <div style="display: flex; justify-content: space-between; align-items: center; align-content: center;">
                    <div class="board-head">
                        <div class="heading">
                            <header>리뷰 작성</header>
                        </div>
                    </div>
                    <div style="display: flex; justify-content: end; margin-right: 2rem;">
                        <input type="submit" class="btn btn-primary" style="width: 100%;">
                    </div>
                </div>
                <hr>
            </div>
            <div style="padding: 1rem; width: 90%; margin: 0 auto;">
                <div style="display: flex; justify-content: center; width: 100%; margin-bottom: 1rem;">
                    <p style="width: 10%; text-align: center; font-weight: bold;">이미지</p>
                    <div style="margin: 0 auto;">
                        <div id="preview" style="width: 200px; margin: 0 auto; align-items: center; align-content: center;">
                            <input style="display: none;" id='image' type="file" onchange="setThumbnail(event)" name="image" multiple>
                            <img id='preview_img' src="/media/card/noimage.jpg">
                        </div>

                    </div>
                </div>
                <div style="display: flex; justify-content: center; width: 100%; margin-bottom: 1rem;">
                    <p style="width: 10%; text-align: center; font-weight: bold;">내용</p>
                    <textarea style="width: 82%; margin: 0 auto; height: 17rem; padding: 10px;" name="content" placeholder="리뷰를 작성하세요"></textarea>
                </div>
            </div>
        </form>
    </div>
    <script>
        document.querySelector('#preview_img').addEventListener('click', () => {
            const input = document.querySelector('#image');
            input.click();
        });

        function setThumbnail(event) {
            for (var image of event.target.files) {
                var reader = new FileReader();
                reader.onload = function(event) {
                    let preview = document.getElementById('preview_img');
                    preview.src = reader.result;
                };
                reader.readAsDataURL(image);
            }
        }
    </script>
{% endblock %}