{% extends 'base.html' %}

{% block content %}
    <div>
        <div style="display: flex; justify-content: space-between; padding: 0.3rem;">
            <div style="display: flex; align-items: flex-end;">
                <h4>고객후기</h4>
                <h6 style="margin-left: 0.4rem; color: chocolate">{{ review_count }}개</h6>
            </div>
            <div style="display: flex; justify-content: end; margin-right: 2rem;">
                <a href="{% url 'review:review_create' %}" class="btn btn-primary">
                    <span>생성</span>
                </a>
            </div>
        </div>

        <hr>
        {% if review_object_list %}
            {% for review in review_object_list %}
            <div style="padding: 1rem;">
                <div style="display:flex;">
                    <div style="width: 5rem;  height: 5rem; margin-right: 2rem;">
                        <img style="width: 100%; height: 100%;" src="{{ review.image.url }}">
                    </div>
                    <div style="width: 50rem; display: flex; flex-direction: column; justify-content: space-between; padding: 0.5rem;">
                        <p style="margin-bottom: 1rem;">{{ review.content }}</p>
                        <div style="display: flex; text-align: center; align-items: center; align-content: center;">
                            <div style="display: flex; color: chocolate; align-content: center; align-items: center;">
                               <span class="material-icons" style="margin-right: 0.4rem;">face_6</span>
                                <span>{{ review.writer.username|slice:':-1' }}*</span>
                            </div>
                            <div style="display: flex; text-align: center; align-items: center; margin-left: 1rem;">
                                <span style="margin-right: 0.4rem; color: #8f8f8f">{{ review.created_at|date:'y.m.d' }}</span>
                            </div>
                            {% if review.created_at > two_days_ago%}
                            <div style="display: flex; align-items: center; align-content: center; text-align: center; background-color: #ee8642; border-radius: 1rem; width: 12px; height: 12px;">
                                <span style="margin: 0 auto; color: aliceblue; text-align: center; align-content: center; align-items: center; justify-content: center; font-size: 10px;">N</span>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div style="align-content: center; margin: 0 auto;">
                        {% if request.user == review.writer or request.user.is_staff %}
                        <a href="{% url 'review:review_delete' pk=review.pk %}" class="btn btn-danger">
                            <span>삭제</span>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if not forloop.last %}
            <hr>
            {% endif %}
            {% endfor %}
        {% else %}
            <h3>리뷰가 없습니다.</h3>
        {% endif %}

    </div>

{% endblock %}