{% extends 'base.html' %}

{% block content %}
    <div>
        <div style="display: flex; justify-content: space-between; padding: 0.3rem;">
            <div>
                <h2>고객후기</h2>
            </div>
            <div style="display: flex; justify-content: end; margin-right: 2rem;">
                <a href="" class="btn btn-primary">
                    <span>생성</span>
                </a>
            </div>
        </div>

        <hr>

        <div style="padding: 2rem;">
            <div style="display:flex;">
                <div style="width: 7rem; margin-right: 2rem;">
                    <img style="object-fit: cover; width: 100%;" src="https://pastelletters.com/front_end/assets/main/images/thumb/thumb-main-cherry.jpg">
                </div>
                <div style="width: 30rem; display: flex; flex-direction: column; justify-content: space-between; padding: 1rem;">
                    <p>청첩장이 너무 이뻐요!!!!!! 만들기도 간편합니다!!</p>
                    <div style="display: flex; justify-content: space-between; height: 1.5rem; text-align: center;">
                        <p>아이디</p>
                        <p>24.05.01</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div style="padding: 2rem;">
            <div style="display:flex;">
                <div style="width: 7rem; margin-right: 2rem;">
                    <img style="object-fit: cover; width: 100%;" src="https://pastelletters.com/front_end/assets/main/images/thumb/thumb-main-cherry.jpg">
                </div>
                <div style="width: 30rem; display: flex; flex-direction: column; justify-content: space-between; padding: 1rem;">
                    <p>청첩장이 너무 이뻐요!!!!!! 만들기도 간편합니다!!</p>
                    <div style="display: flex; justify-content: space-between; height: 1.5rem; text-align: center;">
                        <p>아이디</p>
                        <p>24.05.01</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>

        <div style="padding: 2rem;">
            <div style="display:flex;">
                <div style="width: 7rem; margin-right: 2rem;">
                    <img style="object-fit: cover; width: 100%;" src="https://pastelletters.com/front_end/assets/main/images/thumb/thumb-main-cherry.jpg">
                </div>
                <div style="width: 30rem; display: flex; flex-direction: column; justify-content: space-between; padding: 1rem;">
                    <p>청첩장이 너무 이뻐요!!!!!! 만들기도 간편합니다!!</p>
                    <div style="display: flex; justify-content: space-between; height: 1.5rem; text-align: center;">
                        <p>아이디</p>
                        <p>24.05.01</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>

{% endblock %}