{% extends 'base.html' %}

{% block content %}
    <div>
        <div style="display: flex; justify-content: space-between; padding: 0.3rem;">
            <div>
                <h2>고객후기</h2>
            </div>
            <div style="display: flex; justify-content: end; margin-right: 2rem;">
                <a href="{% url 'review:review_create' %}" class="btn btn-primary">
                    <span>생성</span>
                </a>
            </div>
        </div>

        <hr>
        {% if review_object_list %}
            {% for review in review_object_list %}
            <div style="padding: 2rem;">
                <div style="display:flex;">
                    <div style="width: 7rem; margin-right: 2rem;">
                        <img style="object-fit: cover; width: 100%;" src="{{ review.image.url }}">
                    </div>
                    <div style="width: 30rem; display: flex; flex-direction: column; justify-content: space-between; padding: 1rem;">
                        <p>{{ review.content }}</p>
                        <div style="display: flex; justify-content: space-between; height: 1.5rem; text-align: center;">
                            <p>{{ review.writer.username }}</p>
                            <p>{{ review.created_at|date:'y.m.d' }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            {% endfor %}
        {% else %}
            <h3>리뷰가 없습니다.</h3>
        {% endif %}

    </div>

{% endblock %}