{% block content %}
{% if comment_list %}
<div>
    {% for comment in comment_list %}
        <div style="display: flex;">
            <div style="width: 20%; margin-right: 1rem;">
                <p>{{ comment.writer.username }}</p>
                <p>{{ comment.created_at|date:'y.n.j H:i' }}</p>
            </div>
            <p style="width: 65%; margin: auto 1rem auto 0;">{{ comment.content }}</p>
            {% if request.user == comment.writer or request.user.is_staff %}
            <a style="height: 50%; width: 10%; margin: auto 0;" href="{% url 'board:comment_delete' pk=comment.pk %}"
                class=" btn btn-danger rounded-pill">
                삭제
            </a>
            {% endif %}
        </div>
        <hr>
    {% endfor %}
</div>
{% else %}
<div>
    <span>댓글 없음</span>
</div>
{% endif %}

{% endblock %}