{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div data-bs-spy="scroll" data-bs-target="#navScroll">
        <main>
            <div class="w-100 overflow-hidden bg-gray-100" id="top">
                <div class="container position-relative">
                    <div class="col-12 col-lg-8 mt-0 h-100 position-absolute top-0 end-0 bg-cover" data-aos="fade-left" style="background-image: url({% static 'img/wedding_main.jpg' %});">
                    </div>
                    <div class="row">
                        <div class="col-lg-7 py-vh-6 position-relative" data-aos="fade-right">
                            <h1 class="display-1 fw-bold mt-5">Sell more useless stuff faster!</h1>
                            <p class="lead">To be honest, this is just a stupid placeholder text. We don´t know how to sell anything, not even lesser or slower as you.</p>
                            <a href="{% url 'card:create' %}" class="btn btn-dark btn-xl shadow me-3 rounded-0 my-5">제작하기</a>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
                <div class="small py-vh-2 w-100 overflow-hidden" style="">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-lg-4 border-end" data-aos="fade-up">
                                <div class="d-flex">
                                    <div class="col-md-3 flex-fill pt-3 pe-3 pe-md-0">
                                        <div style="border: 2.5px solid black; border-radius: 100%; width: 50px; height: 50px; display: flex; justify-content: center; align-items: center;">
                                            <span class="material-icons" style="font-size: 40px; font-weight: lighter;">keyboard_double_arrow_right</span>
                                        </div>
                                    </div>
                                    <div class="col-md-9 flex-fill">
                                        <h3 class="h5 my-2">빠른 제작</h3>
                                        <p>평균 30분 이내로 빠른 제작이 가능합니다.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 border-end" data-aos="fade-up" data-aos-delay="200">
                                <div class="d-flex">
                                    <div class="col-md-3 flex-fill pt-3 pt-3 pe-3 pe-md-0">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-card-checklist" viewbox="0 0 16 16">
                                            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                                            <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
                                        </svg>
    {#                                    <div style="border: 2.5px solid black; border-radius: 100%; width: 50px; height: 50px; display: flex; justify-content: center; align-items: center;">#}
    {#                                        <span class="material-icons" style="font-size: 40px; font-weight: lighter;">settings</span>#}
    {#                                    </div>#}
                                    </div>
                                    <div class="col-md-9 flex-fill">
                                        <h3 class="h5 my-2">무한 수정</h3>
                                        <p>사용기한 내에는 무제한으로 수정이 가능합니다.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="400">
                                <div class="d-flex">
                                    <div class="col-md-3 flex-fill pt-3 pt-3 pe-3 pe-md-0">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-window-sidebar" viewbox="0 0 16 16">
                                            <path d="M2.5 4a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm2-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm1 .5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                                            <path d="M2 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v2H1V3a1 1 0 0 1 1-1h12zM1 13V6h4v8H2a1 1 0 0 1-1-1zm5 1V6h9v7a1 1 0 0 1-1 1H6z"/>
                                        </svg>
                                    </div>
                                    <div class="col-md-9 flex-fill">
                                        <h3 class="h5 my-2">미리 보기</h3>
                                        <p>미리 보기로 시안을 확인해 보면서 제작할 수 있습니다.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <hr>

            <div class="py-vh-5 w-100 overflow-hidden" id="services">
                <div class="container">
                    <div class="row d-flex justify-content-end">
                        <div class="col-lg-8" data-aos="fade-down"><h2 class="display-6">Okay, there are three really good reasons for us. There are no more than three, but we think three is a reasonable good number of good stuff.</h2></div>
                    </div>
                    <div class="row d-flex align-items-center">
                        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                            <span class="h5 fw-lighter">01.</span>
                            <h3 class="py-5 border-top border-dark">We rented this fancy startup office in an old factory building.</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus culpa, voluptatibus ex itaque, sapiente a consequatur inventore beatae, ipsam debitis omnis consequuntur iste asperiores. Similique quisquam debitis corrupti deserunt, dolor.</p>
                            <a href="#" class="link-fancy">Learn more</a>
                        </div>
                        <div class="col-md-6 col-lg-4 py-vh-4 pb-0" data-aos="fade-up" data-aos-delay="400">
                            <span class="h5 fw-lighter">02.</span>
                            <h3 class="py-5 border-top border-dark">We don´t know exactly what we are doing. But thats good because we can´t break something intentionally.</h3>
                            <p>Lorem, ipsum dolor sit  adipisicing elit. Minus culpa, voluptatibus ex itaque, sapiente a consequatur inventore beatae, ipsam debitis omnis consequuntur iste asperiores. Similique quisquam debitis corrupti deserunt, dolor.</p>
                            <a href="#" class="link-fancy">Learn more</a>
                        </div>
                        <div class="col-md-6 col-lg-4 py-vh-6 pb-0" data-aos="fade-up" data-aos-delay="600">
                            <span class="h5 fw-lighter">03.</span>
                            <h3 class="py-5 border-top border-dark">There is no real number three reason. So please read again number one and two.</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus culpa, voluptatibus ex itaque, sapiente a consequatur inventore beatae, ipsam debitis omnis consequuntur iste asperiores. Similique quisquam debitis corrupti deserunt, dolor.</p>
                            <a href="#" class="link-fancy">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-vh-4 bg-gray-100 w-100 overflow-hidden" id="aboutus">
                <div class="container">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-lg-6">
                            <div class="row gx-5 d-flex">
                                <div class="col-md-11">
                                    <div class="shadow ratio ratio-16x9 rounded bg-cover bp-center align-self-end" data-aos="fade-right" style="background-image: url(img/webp/people15.webp);--bs-aspect-ratio: 50%;">
                                    </div>
                                </div>
                                <div class="col-md-5 offset-md-1">
                                    <div class="shadow ratio ratio-1x1 rounded bg-cover mt-5 bp-center float-end" data-aos="fade-up" style="background-image: url(img/webp/interior42.webp);">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-12 shadow ratio rounded bg-cover mt-5 bp-center" data-aos="fade-left" style="background-image: url(img/webp/people4.webp);--bs-aspect-ratio: 150%;">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <h3 class="py-5 border-top border-dark" data-aos="fade-left">We did some interesting stuff in our field of work. For example we collect a lot of these free photos and use them on our website.</h3>
                            <p data-aos="fade-left" data-aos-delay="200">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                            </p>
                            <p>
                                <a href="#" class="link-fancy link-dark" data-aos="fade-left" data-aos-delay="400">Learn more
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-vh-5 w-100 overflow-hidden" id="numbers">
                <div class="container">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-lg-5">
                            <h3 class="py-5 border-top border-dark" data-aos="fade-right">Our magic numbers</h3>
                        </div>
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-12">
                                    <h2 class="display-6 mb-5" data-aos="fade-down">There are some important numbers for us. They are just numbers without any meaning, but we just love them.</h2>
                                </div>
                                <div class="col-lg-6" data-aos="fade-up">
                                    <div class="display-1 fw-bold py-4">42%</div>
                                    <p class="text-black-50">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                                </div>
                                <div class="col-lg-6" data-aos="fade-up">
                                    <div class="display-1 fw-bold py-4">+300</div>
                                    <p class="text-black-50">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="position-relative overflow-hidden w-100 bg-light" id="gallery">
                <div class="container-fluid">
                    <div class="row overflow-scroll">
                        <div class="col-12">
                            <div class="row vw-100 px-0 py-vh-5 d-flex align-items-center scrollx">
                                <div class="col-md-2" data-aos="fade-up">
                                    <img src="img/webp/interior37.webp" class="rounded shadow img-fluid" alt="nice gallery image" width="512" height="341">
                                </div>
                                <div class="col-md-2" data-aos="fade-up" data-aos-delay="200">
                                    <img src="img/webp/people1.webp" class="img-fluid rounded shadow" alt="nice gallery image" width="1164" height="776">
                                </div>
                                <div class="col-md-3" data-aos="fade-up" data-aos-delay="400">
                                    <img src="img/webp/people2.webp" class="img-fluid rounded shadow" alt="nice gallery image" width="844" height="1054">
                                </div>
                                <div class="col-md-3" data-aos="fade-up" data-aos-delay="600">
                                    <img src="img/webp/interior29.webp" class="img-fluid rounded shadow" alt="nice gallery image" width="844" height="562">
                                </div>
                                <div class="col-md-2" data-aos="fade-up" data-aos-delay="800">
                                    <img src="img/webp/people23.webp" class="rounded shadow img-fluid" alt="nice gallery image" width="512" height="341">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container py-vh-4 w-100 overflow-hidden">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-lg-5">
                        <h3 class="py-5 border-top border-dark" data-aos="fade-right">What our clients say</h3>
                    </div>
                    <div class="col-md-7" data-aos="fade-left">
                        <blockquote>
                            <div class="fs-4 my-3 fw-light pt-4 border-bottom pb-3">“I´am the CEO of this company. So maybe you think "he will tell us something super awesome about it only". But no. Its a really strange place to work with creepy people all around.
                                They do some computer stuff I don´t understand. But I wear expensive Glasses and a Patagonia Hoodie. So I´am fine with it.”</div>
                            <img src="img/webp/person11.webp" width="64" height="64" class="img-fluid rounded-circle me-3" alt="" data-aos="fade">
                            <span>
                                <span class="fw-bold">John Doe,</span>
                                CEO of Stride Ltd.</span>
                        </blockquote>
                    </div>
                </div>
            </div>
            <div class="py-vh-6 bg-gray-900 text-light w-100 overflow-hidden" id="workwithus">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="row d-flex justify-content-center text-center">
                            <div class="col-lg-8 text-center" data-aos="fade">
                                <p class="text-secondary lead">Let´s start a project together!</p>
                                <h2 class="display-6 mb-5">Hell no! This button is linked to a none working contact form. A none working form without any user feedback. So you might think you done something wrong. But in reality we just don´t want to start anything with you or anyone else.</h2>
                            </div>
                            <div class="col-12">
                                <a href="#" class="btn btn-warning btn-xl shadow me-3 mt-4" data-aos="fade-down">Get in contact</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-light w-100 overflow-hidden" id="testimonials">
                <div class="container py-vh-6">
                    <div class="row d-flex justify-content-center">
                        <div class="col-12 col-lg-10 col-xl-8 text-center">
                            <h2 class="display-6">고객후기</h2>
                            <p class="lead">고객분들의 솔직한 후기입니다.</p>
                        </div>
                        <div class="col-12 mt-4">
                            <div class="row row-cols-1 row-cols-md-2 g-5 d-flex align-items-center">

                                {% for review in review_list %}
                                <div class="col-12 col-lg-6 col-xl-4" data-aos="fade-right">
                                    <div class="card p-4 mt-3 border-0">
                                        <div class="card-body">
                                            <blockquote class="blockquote">
                                                <p>{{ review.content }}</p>
                                            </blockquote>
                                            <div class="d-flex justify-content-between border-top pt-3">
                                                <div style="display: flex;">
                                                    <div style="display: flex; color: chocolate; align-content: center; align-items: center; margin-right: 0.3rem;">
                                                        <span class="material-icons" style="margin-right: 0.4rem;">face_6</span>
                                                        {% if review.writer.username|length < 5 %}
                                                        <p style="margin-right: 1rem; margin: auto 0;">{{ review.writer.username|slice:':-2' }}**</p>
                                                        {% else %}
                                                        <p style="margin-right: 1rem; margin: auto 0;">{{ review.writer.username|slice:':-3' }}***</p>
                                                        {% endif %}
                                                    </div>
                                                    <small class="text-muted" style="margin: auto 0;">{{ review.created_at|date:'y.m.d' }}</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="small py-vh-3 w-100 overflow-hidden">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-4 border-end" data-aos="fade-up">
                            <div class="d-flex">
                                <div class="col-md-3 flex-fill pt-3 pe-3 pe-md-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-box-seam" viewbox="0 0 16 16">
                                        <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2l-2.218-.887zm3.564 1.426L5.596 5 8 5.961 14.154 3.5l-2.404-.961zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
                                    </svg>
                                </div>
                                <div class="col-md-9 flex-fill">
                                    <h3 class="h5 my-2">Delivery Service</h3>
                                    <p>If we had any physical goods we would deliver them to your door steps. Of course in time and to the right adress. But we have no products...</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 border-end" data-aos="fade-up" data-aos-delay="200">
                            <div class="d-flex">
                                <div class="col-md-3 flex-fill pt-3 pt-3 pe-3 pe-md-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-card-checklist" viewbox="0 0 16 16">
                                        <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                                        <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
                                    </svg>
                                </div>
                                <div class="col-md-9 flex-fill">
                                    <h3 class="h5 my-2">Independently Checked</h3>
                                    <p>Maybe we would do something to ensure that you get what you ordered. But you can´t order anything here, so we can give you a 100% gurantee that anything would be great!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="400">
                            <div class="d-flex">
                                <div class="col-md-3 flex-fill pt-3 pt-3 pe-3 pe-md-0">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-window-sidebar" viewbox="0 0 16 16">
                                        <path d="M2.5 4a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm2-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm1 .5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                                        <path d="M2 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v2H1V3a1 1 0 0 1 1-1h12zM1 13V6h4v8H2a1 1 0 0 1-1-1zm5 1V6h9v7a1 1 0 0 1-1 1H6z"/>
                                    </svg>
                                </div>
                                <div class="col-md-9 flex-fill">
                                    <h3 class="h5 my-2">Online Support</h3>
                                    <p>Okay, we have this crazy online support form. Fill it out and the content will be mailed to you as PDF. Print it out. Than send it via Fax to our super duper hidden Fax number.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container py-vh-3 border-top" data-aos="fade" data-aos-delay="200">
                <div class="row d-flex justify-content-center">
                    <div class="col-12 col-lg-8 text-center">
                        <h3 class="fs-2 fw-light">Stay in touch with our<span class="fw-bold">
                            monthly and free</span>
                            newsletter!
                        </h3>
                    </div>
                    <div class="col-12 col-lg-8 text-center">
                        <div class="row">
                            <div class="grouped-inputs border bg-light p-2">
                                <div class="row">
                                    <div class="col">
                                        <form class="form-floating">
                                            <input type="email" class="form-control p-3" id="floatingInput" placeholder="name@example.com">
                                            <label for="floatingInput">Email address</label>
                                        </form>
                                    </div>
                                    <div class="col-auto">
                                        <a href="#" class="btn btn-dark py-3 px-5">Subscribe</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script>
        AOS.init({
            duration: 800, // values from 0 to 3000, with step 50ms
        });
    </script>
    <script>
        let scrollpos = window.scrollY
        const header = document.querySelector(".navbar")
        const header_height = header.offsetHeight

        const add_class_on_scroll = () => header.classList.add("scrolled", "shadow-sm")
        const remove_class_on_scroll = () => header.classList.remove("scrolled", "shadow-sm")

        window.addEventListener('scroll', function() {
        scrollpos = window.scrollY;

        if (scrollpos >= header_height) { add_class_on_scroll() }
        else { remove_class_on_scroll() }

        console.log(scrollpos)
        })
    </script>
{% endblock %}
