{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div data-bs-spy="scroll" data-bs-target="#navScroll">
        <main>
            <div class="w-100 overflow-hidden bg-gray-100" id="top">
                <div class="container position-relative">
                    <div class="col-12 col-lg-8 mt-0 h-100 position-absolute top-0 end-0 bg-cover" data-aos="fade-left" style="background-image: url({% static 'img/wedding_main.jpg' %});">
                    </div>
                    <div class="row">
                        <div class="col-lg-7 py-vh-6 position-relative" data-aos="fade-right">
                            <h1 class="display-1 fw-bold mt-5">Sell more useless stuff faster!</h1>
                            <p class="lead">To be honest, this is just a stupid placeholder text. We don´t know how to sell anything, not even lesser or slower as you.</p>
                            <a href="{% url 'card:create' %}" class="btn btn-dark btn-xl shadow me-3 rounded-0 my-5">제작하기</a>
                        </div>
                    </div>
                </div>
            </div>

            <hr>
                <div class="small py-vh-2 w-100 overflow-hidden" style="">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-lg-4 border-end" data-aos="fade-up">
                                <div class="d-flex">
                                    <div class="col-md-3 flex-fill pt-3 pe-3 pe-md-0">
                                        <div style="border: 2.5px solid black; border-radius: 100%; width: 50px; height: 50px; display: flex; justify-content: center; align-items: center;">
                                            <span class="material-icons" style="font-size: 40px; font-weight: lighter;">keyboard_double_arrow_right</span>
                                        </div>
                                    </div>
                                    <div class="col-md-9 flex-fill">
                                        <h3 class="h5 my-2">빠른 제작</h3>
                                        <p>평균 30분 이내로 빠른 제작이 가능합니다.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 border-end" data-aos="fade-up" data-aos-delay="200">
                                <div class="d-flex">
                                    <div class="col-md-3 flex-fill pt-3 pt-3 pe-3 pe-md-0">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-card-checklist" viewbox="0 0 16 16">
                                            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                                            <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
                                        </svg>
    {#                                    <div style="border: 2.5px solid black; border-radius: 100%; width: 50px; height: 50px; display: flex; justify-content: center; align-items: center;">#}
    {#                                        <span class="material-icons" style="font-size: 40px; font-weight: lighter;">settings</span>#}
    {#                                    </div>#}
                                    </div>
                                    <div class="col-md-9 flex-fill">
                                        <h3 class="h5 my-2">무한 수정</h3>
                                        <p>사용기한 내에는 무제한으로 수정이 가능합니다.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="400">
                                <div class="d-flex">
                                    <div class="col-md-3 flex-fill pt-3 pt-3 pe-3 pe-md-0">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-window-sidebar" viewbox="0 0 16 16">
                                            <path d="M2.5 4a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm2-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm1 .5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                                            <path d="M2 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v2H1V3a1 1 0 0 1 1-1h12zM1 13V6h4v8H2a1 1 0 0 1-1-1zm5 1V6h9v7a1 1 0 0 1-1 1H6z"/>
                                        </svg>
                                    </div>
                                    <div class="col-md-9 flex-fill">
                                        <h3 class="h5 my-2">미리 보기</h3>
                                        <p>미리 보기로 시안을 확인해 보면서 제작할 수 있습니다.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <hr>

            <div class="bg-light w-100 overflow-hidden" id="testimonials">
                <div class="container py-vh-6">
                    <div class="row d-flex justify-content-center">
                        <div class="col-12 col-lg-10 col-xl-8 text-center">
                            <h2 class="display-6">고객후기</h2>
                            <p class="lead">고객분들의 솔직한 후기입니다.</p>
                        </div>
                        <div class="col-12 mt-4">
                            <div class="row row-cols-1 row-cols-md-2 g-5 d-flex align-items-center">

                                {% for review in review_list %}
                                <div class="col-12 col-lg-6 col-xl-4" data-aos="fade-right">
                                    <div class="card p-4 mt-3 border-0">
                                        <div class="card-body">
                                            <blockquote class="blockquote">
                                                <p>{{ review.content }}</p>
                                            </blockquote>
                                            <div class="d-flex justify-content-between border-top pt-3">
                                                <div style="display: flex;">
                                                    <div style="display: flex; color: chocolate; align-content: center; align-items: center; margin-right: 0.3rem;">
                                                        <span class="material-icons" style="margin-right: 0.4rem;">face_6</span>
                                                        {% if review.writer.username|length < 5 %}
                                                        <p style="margin-right: 1rem; margin: auto 0;">{{ review.writer.username|slice:':-2' }}**</p>
                                                        {% else %}
                                                        <p style="margin-right: 1rem; margin: auto 0;">{{ review.writer.username|slice:':-3' }}***</p>
                                                        {% endif %}
                                                    </div>
                                                    <small class="text-muted" style="margin: auto 0;">{{ review.created_at|date:'y.m.d' }}</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script>
        AOS.init({
            duration: 800, // values from 0 to 3000, with step 50ms
        });
    </script>
    <script>
        let scrollpos = window.scrollY
        const header = document.querySelector(".navbar")
        const header_height = header.offsetHeight

        const add_class_on_scroll = () => header.classList.add("scrolled", "shadow-sm")
        const remove_class_on_scroll = () => header.classList.remove("scrolled", "shadow-sm")

        window.addEventListener('scroll', function() {
        scrollpos = window.scrollY;

        if (scrollpos >= header_height) { add_class_on_scroll() }
        else { remove_class_on_scroll() }

        console.log(scrollpos)
        })
    </script>
{% endblock %}
