{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
        .swiper-container {overflow: visible;}
        .swiper-slide {
            opacity:0.4;
            transition:opacity 0.3s;
        }
        .swiper-slide-active,
        .swiper-slide-active + .swiper-slide,
        .swiper-slide-active + .swiper-slide + .swiper-slide,
        .swiper-slide-active + .swiper-slide + .swiper-slide + .swiper-slide {opacity:1}

    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <div data-bs-spy="scroll" data-bs-target="#navScroll">
        <main>
            <div class="w-100 overflow-hidden bg-gray-100" id="top">
                <div class="container position-relative">
                    <div class="col-12 col-lg-8 mt-0 h-100 position-absolute top-0 end-0 bg-cover" data-aos="fade-left" style="background-image: url({% static 'img/wedding_main.jpg' %});">
                    </div>
                    <div class="row">
                        <div class="col-lg-7 py-vh-6 position-relative" data-aos="fade-right">
                            <h1 class="display-1 fw-bold mt-5">소중한 순간을 위한 완벽한 시작</h1>
                            <p class="lead">누구나 쉽고 간편하게 제작할 수 있는 모바일 청첩장을 경험하세요!</p>
                            <a href="{% url 'card:create' %}" class="btn btn-dark btn-xl shadow me-3 rounded-0 my-5">제작하기</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
                <div class="small py-vh-2 w-100 overflow-hidden" style="">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-lg-4 border-end" data-aos="fade-up">
                                <div class="d-flex">
                                    <div class="col-md-3 flex-fill pt-3 pe-3 pe-md-0">
                                        <div style="border: 2.5px solid black; border-radius: 100%; width: 50px; height: 50px; display: flex; justify-content: center; align-items: center;">
                                            <span class="material-icons" style="font-size: 40px; font-weight: lighter;">keyboard_double_arrow_right</span>
                                        </div>
                                    </div>
                                    <div class="col-md-9 flex-fill">
                                        <h3 class="h5 my-2 fw-bold">빠른 제작</h3>
                                        <p>평균 30분 이내로 빠른 제작이 가능합니다.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 border-end" data-aos="fade-up" data-aos-delay="200">
                                <div class="d-flex">
                                    <div class="col-md-3 flex-fill pt-3 pt-3 pe-3 pe-md-0">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-card-checklist" viewbox="0 0 16 16">
                                            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                                            <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
                                        </svg>
                                        {#<div style="border: 2.5px solid black; border-radius: 100%; width: 50px; height: 50px; display: flex; justify-content: center; align-items: center;">#}
                                        {#<span class="material-icons" style="font-size: 40px; font-weight: lighter;">settings</span>#}
                                        {#</div>#}
                                    </div>
                                    <div class="col-md-9 flex-fill">
                                        <h3 class="h5 my-2 fw-bold">무한 수정</h3>
                                        <p>사용기한 내에는 무제한으로 수정이 가능합니다.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="400">
                                <div class="d-flex">
                                    <div class="col-md-3 flex-fill pt-3 pt-3 pe-3 pe-md-0">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-window-sidebar" viewbox="0 0 16 16">
                                            <path d="M2.5 4a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zm2-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm1 .5a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                                            <path d="M2 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v2H1V3a1 1 0 0 1 1-1h12zM1 13V6h4v8H2a1 1 0 0 1-1-1zm5 1V6h9v7a1 1 0 0 1-1 1H6z"/>
                                        </svg>
                                    </div>
                                    <div class="col-md-9 flex-fill">
                                        <h3 class="h5 my-2 fw-bold">미리 보기</h3>
                                        <p>미리 보기로 시안을 확인해 보면서 제작할 수 있습니다.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <hr>
            <div>
                <div data-aos="fade-up" style="text-align: center;">
                    <h2 class="display-7 fw-bold" style="margin: 7rem 0 3rem 0; line-height: 45px;">Wedding Card와 함께 해주신<br>고객분들의 솔직한 후기입니다.</h2>
                    <div>
                        <a class="getBtn emp" style="margin-bottom: 3rem;background: #fff;border: 1px solid #fafafa;" href="{% url 'review:review_list' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
                                <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
                                <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
                            </svg>
                            &nbsp;&nbsp; 전체 리뷰 보러가기
                        </a>
                    </div>
                </div>
                <div class="swiper" data-aos="fade-up" style="padding-bottom: 5rem;">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        {% for review in review_list %}
                            <div class="col-12 col-lg-6 col-xl-4 swiper-slide" style="border: 1px solid #e0e0e0; box-shadow: 0 10px 15px 0 rgb(5 5 5 / 5%);">
                                <div class="card p-4 border-0">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between border-bottom pb-3">
                                            <div style="display: flex;">
                                                <div style="display: flex; color: chocolate; align-content: center; align-items: center; margin-right: 0.3rem;">
                                                    <span class="material-icons" style="margin-right: 0.4rem;">face_6</span>
                                                    {% if review.writer.username|length < 5 %}
                                                    <p style="margin-right: 1rem; margin: auto 0;">{{ review.writer.username|slice:':-2' }}**</p>
                                                    {% else %}
                                                    <p style="margin-right: 1rem; margin: auto 0;">{{ review.writer.username|slice:':-3' }}***</p>
                                                    {% endif %}
                                                </div>
                                                <small class="text-muted" style="margin: auto 0;">{{ review.created_at|date:'y.m.d' }}</small>
                                            </div>
                                        </div>
                                        <blockquote class="blockquote pt-3" style="font-size: 15px; height: 40px;">
                                            <p>{{ review.content|truncatechars:70 }}</p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script>
        AOS.init({
            duration: 800, // values from 0 to 3000, with step 50ms
        });
    </script>
    <script>
        let scrollpos = window.scrollY
        const header = document.querySelector(".navbar")
        const header_height = header.offsetHeight

        const add_class_on_scroll = () => header.classList.add("scrolled", "shadow-sm")
        const remove_class_on_scroll = () => header.classList.remove("scrolled", "shadow-sm")

        window.addEventListener('scroll', function() {
        scrollpos = window.scrollY;

        if (scrollpos >= header_height) { add_class_on_scroll() }
        else { remove_class_on_scroll() }
        })


        const swiper = new Swiper('.swiper', {
            slidesPerView: 3,
            slidesPerGroup: 1,
            // Optional parameters
            autoplay: true,
            loop: true,
            observer: true,
            observeParents: true,
            spaceBetween: 10,

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>
{% endblock %}
