{% extends 'base.html' %}

{% block content %}
    <div style="padding: 2rem;">
        <div style="display: flex; justify-content: space-between; margin-right: 1rem;">
            <p>{{ board.title }}</p>
            <p>작성자 : {{ board.writer.username }}</p>
        </div>
        <hr>
        <p>{{ board.content }}</p>
        {% if board.writer == request.user or request.user.is_staff %}
        <div>
            <a href="{% url 'board:board_delete' board.pk %}" class="btn btn-danger">
                <span>삭제</span>
            </a>
            <a href="{% url 'board:board_update' board.pk %}" class="btn btn-success">
                <span>수정</span>
            </a>
        </div>

        {% endif %}
    <hr>
    {% include 'comment/list.html' with comment_list=comment_list %}
    <hr>
    {% include 'comment/create.html' with board=board %}
    </div>
{% endblock %}