{% extends 'base.html' %}

{% block content %}
    <div>
        <div style="display: flex; justify-content: end; margin-right: 2rem;">
            {% if request.user.is_authenticated %}
            <a href="{% url 'board:board_create' %}" class="btn btn-primary">
                <span>생성</span>
            </a>
            {% endif %}
        </div>
        <div style="padding: 2rem;">
            {% for board in board_object_list %}
            <div>
                {% if request.user == board.writer or request.user.is_staff or not board.is_secret %}
                <a href="{% url 'board:board_detail' board.pk %}">
                    {% if board.is_notice %}
                    <h4>{{ board.title }}</h4>
                    {% else %}
                    <p>{{ board.title }}</p>
                    {% endif %}
                </a>
                {% else %}
                <p>비밀글입니다</p>
                {% endif %}
                <div style="display: flex; justify-content: space-between; margin-right: 1rem; margin-left: 1rem;">
                    <p>{{ board.writer.username }}</p>
                    <p>{{ board.created_at|date:'Y-m-d H:i' }}</p>
                </div>
            </div>
            <hr class="mb-3">
            {% endfor %}
        </div>

    </div>

{% endblock %}