{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="mb-4" style="display:flex; justify-content:space-between;">
        <h3>모바일 청첩장</h3>
        <input type="submit" form="cardform" class="btn btn-dark col-1" value="저장하기">
    </div>
    <div class="morder-editor">
        <div class="morder-preview">
            미리보기
        </div>
        <div class="morder-list-content">
            <form id="cardform" action="{% url 'card:create' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="morder-table">
                    <div class="st">
                        <div class="th">
                            <div>테마</div>
                            <div data-v-72618a6e="">
                                <svg data-v-72618a6e="" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-chevron-up">
                                    <polyline points="18 15 12 9 6 15"></polyline>
                                </svg>
                            </div>
                        </div>
                        <div class="td">
                            <div class="morder-group">
                                <div class="morder-field">
                                    <span class="s1">테마</span>
                                    <span class="s2">
                                        <div style="display:flex; gap:6px;">
                                            <div>
                                                {{ form.theme }}
                                            </div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="st">
                        <div class="th">
                            <div>인트로</div>
                            <div>
                                <svg data-v-11b6c47c="" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-chevron-up">
                                    <polyline points="18 15 12 9 6 15"></polyline>
                                </svg>
                            </div>
                        </div>
                        <div class="td" style="padding: 0px; border: 0px; top: 0px; background: rgba(0, 0, 0, 0);">
                            <div class="td" style="padding-top: 30px;">
                                <div class="morder-group">
                                    <div class="morder-field" style="margin-bottom: 16px;">
                                        <span class="s1">사진</span>
                                        <span class="s2">
                                            <div class="thm-container" style="margin: 0px; max-width: 154px;">
                                                {{ form.main_img }}
                                                <input type="file" id="" name="{{ form.main_img.name }}">
                                                <div id="image-preview"></div>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="st">
                        <div class="th">
                            <div>신랑측 정보</div>
                            <div>
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-chevron-up">
                                    <polyline points="18 15 12 9 6 15"></polyline>
                                </svg>
                            </div>
                        </div>
                        <div class="td">
                            <div class="morder-group">
                                <div class="morder-field">
                                    <span class="s1">아버님</span>
                                    <span class="s2">
                                        {{ form.groom_father_name }}
                                    </span>
                                </div>
                                <div class="morder-field">
                                    <span class="s1">어머님</span>
                                    <span class="s2">
                                        {{ form.groom_mother_name }}
                                    </span>
                                </div>
                                <div class="morder-field">
                                    <span class="s1">신랑님</span>
                                    <span class="s2">
                                        {{ form.groom_name }}
                                    </span>
                                </div>
                                <div class="morder-field">
                                    <span class="s1">관계</span>
                                    <span class="s2">
                                        {{ form.groom_position }}
                                    </span>
                                    <div class="morder-desc">
                                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-info">
                                            <circle cx="12" cy="12" r="10"></circle>
                                            <line x1="12" x2="12" y1="16" y2="12"></line>
                                            <line x1="12" x2="12.01" y1="8" y2="8"></line>
                                        </svg>
                                        <span>아버님·어머님 성함은 생략할 수 있습니다.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="st">
                        <div class="th">
                            <div>신부측 정보</div>
                            <div>
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-chevron-up">
                                    <polyline points="18 15 12 9 6 15"></polyline>
                                </svg>
                            </div>
                        </div>
                        <div class="td">
                            <div class="morder-group">
                                <div class="morder-field">
                                    <span class="s1">아버님</span>
                                    <span class="s2">
                                        {{ form.bride_father_name }}
                                    </span>
                                </div>
                                <div class="morder-field">
                                    <span class="s1">어머님</span>
                                    <span class="s2">
                                        {{ form.bride_mother_name }}
                                    </span>
                                </div>
                                <div class="morder-field">
                                    <span class="s1">신부님</span>
                                    <span class="s2">
                                        {{ form.bride_name }}
                                    </span>
                                </div>
                                <div class="morder-field">
                                    <span class="s1">관계</span>
                                    <span class="s2">
                                        {{ form.bride_position }}
                                    </span>
                                    <div class="morder-desc">
                                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-info">
                                            <circle cx="12" cy="12" r="10"></circle>
                                            <line x1="12" x2="12" y1="16" y2="12"></line>
                                            <line x1="12" x2="12.01" y1="8" y2="8"></line>
                                        </svg>
                                        <span>아버님·어머님 성함은 생략할 수 있습니다.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="st">
                        <div class="th">
                            <div>모시는 글</div>
                            <div>
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-chevron-up">
                                    <polyline points="18 15 12 9 6 15"></polyline>
                                </svg>
                            </div>
                        </div>
                        <div class="td">
                            <div class="morder-group">
                                <div class="morder-field">
                                    <span class="s1">제목</span>
                                    <span class="s2">
                                        {{ form.invitation_title }}
                                    </span>
                                </div>
                                <div class="morder-field">
                                    <span class="s1">내용</span>
                                    <span class="s2">
                                        <div style="max-width: 100%;">
                                            <div>
                                                <div class="te-toolbar">
                                                    <button onclick="document.execCommand('bold', false, null)" class="te-btn bold">가</button>
                                                    <button onclick="document.execCommand('underline', false, null)" class="te-btn underline">
                                                        <span>가</span>
                                                    </button>
                                                    <button class="te-btn color">
                                                        <span>가</span>
                                                    </button>
                                                    <span class="color-picker-wrap"><!----></span>
                                                    <div class="te-divider"></div>
                                                    <div class="te-btn align">
                                                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-align-left">
                                                            <line x1="17" x2="3" y1="10" y2="10"></line>
                                                            <line x1="21" x2="3" y1="6" y2="6"></line>
                                                            <line x1="21" x2="3" y1="14" y2="14"></line>
                                                            <line x1="17" x2="3" y1="18" y2="18"></line>
                                                        </svg>
                                                    </div>
                                                    <div class="te-btn align active">
                                                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-align-center">
                                                            <line x1="18" x2="6" y1="10" y2="10"></line>
                                                            <line x1="21" x2="3" y1="6" y2="6"></line>
                                                            <line x1="21" x2="3" y1="14" y2="14"></line>
                                                            <line x1="18" x2="6" y1="18" y2="18"></line>
                                                        </svg>
                                                    </div>
                                                    <div class="te-btn align">
                                                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-align-right">
                                                            <line x1="21" x2="7" y1="10" y2="10"></line>
                                                            <line x1="21" x2="3" y1="6" y2="6"></line>
                                                            <line x1="21" x2="3" y1="14" y2="14"></line>
                                                            <line x1="21" x2="7" y1="18" y2="18"></line>
                                                        </svg>
                                                    </div>
                                                </div>
                                                <div id="te-1kldvwb100v" contenteditable="true" class="te-textarea" style="height: 120px; text-align: center;">
                                                    살랑이는 바람결에<br>사랑이 묻어나는 계절입니다.<br>
                                                    여기 곱고 예쁜 두 사람이 사랑을 맺어<br>인생의 반려자가 되려 합니다.<br>
                                                    새 인생을 시작하는 이 자리에 오셔서<br>축복해 주시면 감사하겠습니다.
                                                    {{ form.content }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="te-toolbar-bottom">
                                            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-type">
                                                <polyline points="4 7 4 4 20 4 20 7"></polyline>
                                                <line x1="9" x2="15" y1="20" y2="20"></line>
                                                <line x1="12" x2="12" y1="4" y2="20"></line>
                                            </svg>
                                            <span>샘플 문구</span>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="st">
                        <div class="th">
                            <div>예식일시</div>
                            <div><svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-chevron-up">
                                <polyline points="18 15 12 9 6 15"></polyline>
                            </svg>
                            </div>
                        </div>
                        <div class="td">
                            <div class="morder-group">
                                <div class="morder-field">
                                    <span class="s1">예식일</span>
                                    <span class="s2" style="position: relative;">
                                        {{ form.wedding_date }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-v-41b0ff6a="" class="st">
                        <div data-v-41b0ff6a="" class="th">
                            <div data-v-41b0ff6a="">
                                <span data-v-41b0ff6a="" class="title">예식장소</span>
                            </div>
                            <div data-v-41b0ff6a="">
                                <svg data-v-41b0ff6a="" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-chevron-up">
                                    <polyline points="18 15 12 9 6 15"></polyline>
                                </svg>
                            </div>
                        </div>
                        <div data-v-41b0ff6a="" class="td">
                            <div data-v-41b0ff6a="" class="morder-group">
                                <div data-v-41b0ff6a="" class="morder-field">
                                    <span data-v-41b0ff6a="" class="s1">예식장명</span>
                                    <span data-v-41b0ff6a="" class="s2">
                                        <input data-v-41b0ff6a="" type="text" class="inorder_txt" style="width: calc(100% - 20px); max-width: 378px;">
                                    </span>
                                </div>
                                <div data-v-41b0ff6a="" class="morder-field">
                                    <span data-v-41b0ff6a="" class="s1">층과 홀</span>
                                    <span data-v-41b0ff6a="" class="s2">
                                        <input data-v-41b0ff6a="" type="text" class="inorder_txt" style="width: calc(100% - 20px); max-width: 378px;">
                                    </span>
                                </div> <!---->
                                <div data-v-41b0ff6a="" class="morder-field">
                                    <span data-v-41b0ff6a="" class="s1">주소</span>
                                    <span data-v-41b0ff6a="" class="s2" style="width: calc(100% - 80px); max-width: 400px; position: relative;">
                                        <input id="address" type="text" class="inorder_txt" style="width: calc(100% - 87px);" placeholder="검색할 주소" name="wedding_hall_address"/>
                                        <input id="submit" type="button"  class="morder-btn" style="position: absolute; right: 0px;" value="검색" />
                                    </span>
                                    <br>
                                    <br>
                                    <div id="wrap" class="section map-wrapper">
                                        <div id="map" style="width:100%;height:300px;">
                                        </div>
                                        <code id="snippet" class="snippet"></code>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="st">
                        <div class="th">
                            <div>
                                <span class="title">갤러리</span>
                            </div>
                            <div>
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-chevron-up">
                                    <polyline points="18 15 12 9 6 15"></polyline>
                                </svg>
                            </div>
                        </div>
                        <div class="td">
                            <div class="morder-group">
                                <div class="morder-field">
                                    <span class="s1">제목</span>
                                    <span class="s2">
                                        <input type="text" maxlength="32" class="inorder_txt" style="width: 154px;">
                                    </span>
                                </div>

                            </div>
                            <div class="morder-group" style="border-top: 0px; padding-top: 0px;">
                                <div>
                                    <div class="gallery-upload">
                                        <input type="file" accept="image/*" multiple="multiple" hidden="hidden">
                                        <div class="button">사진 업로드</div>
                                        <div>또는 사진을 끌어서 놓으세요</div>
                                    </div>
                                    <div class="gallery-drag-container">
                                        <div class="swipe-container">
                                            <div class="items">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gallery-toolbar">
                                        <div>
                                            <span>0</span>
                                            <span class="total">/ 60</span>
                                        </div> <!---->
                                    </div>
                                    <div style="line-height: 0;">
                                        <img id="drag-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
                                    </div>
                                </div>
                            </div>
                            <div class="morder-desc">
                                <div>
                                    <div>
                                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-info">
                                            <circle cx="12" cy="12" r="10"></circle>
                                            <line x1="12" x2="12" y1="16" y2="12"></line>
                                            <line x1="12" x2="12.01" y1="8" y2="8"></line>
                                        </svg>
                                    </div>
                                    <div>사진은 최대 20장까지 첨부할 수 있습니다.</div>
                                </div>
                                <div>
                                    <div>
                                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-info">
                                            <circle cx="12" cy="12" r="10"></circle>
                                            <line x1="12" x2="12" y1="16" y2="12"></line>
                                            <line x1="12" x2="12.01" y1="8" y2="8"></line>
                                        </svg>
                                    </div>
                                    <div>사진 순서를 변경하려면 드래그하거나 사진 2장을 선택하세요.</div>
                                </div> <!----> <!----> <!---->
                            </div>
                        </div>
                    </div>
                    <div class="st">
                        <div class="th">
                            <div>
                                <span class="title">카카오톡 공유 썸네일</span>
                            </div>
                            <div>
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-chevron-up">
                                    <polyline points="18 15 12 9 6 15"></polyline>
                                </svg>
                            </div>
                        </div>
                        <div class="td">
                            <div class="morder-group">
                                <div class="morder-field">
                                    <span class="s1">사진</span>
                                    <span class="s2">
                                        <div class="thm-container" style="margin: 0px; max-width: 160px;">
                                            <input id="file-undefined" type="file" accept="image/*" hidden="hidden">
                                            <div class="thm-btn-wrap" style="display: none;">
                                                <div class="thm-btn-edit">
                                                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-x">
                                                        <line x1="18" x2="6" y1="6" y2="18"></line><line x1="6" x2="18" y1="6" y2="18"></line>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="thm-btn-wrap2" style="display: none;">
                                                <div class="thm-btn-edit2">
                                                    썸네일 편집
                                                </div>
                                            </div>
                                            <div class="thm-btn-wrap3" style="display: none;">
                                                <div class="thm-btn-crop">
                                                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-crop">
                                                        <path d="M6.13 1L6 16a2 2 0 0 0 2 2h15"></path>
                                                        <path d="M1 6.13L16 6a2 2 0 0 1 2 2v15"></path>
                                                    </svg>
                                                    편집
                                                </div>
                                            </div>
                                            <canvas width="300px" height="300px" oncontextmenu="return false" ondragstart="return false" onselectstart="return false"></canvas>
                                            <div class="thm-overlay">
                                                <a class="bs-orange">클릭 후 업로드</a>
                                            </div>
                                        </div>
                                    </span>
                                </div> <!---->
                                <div class="morder-field">
                                    <span class="s1">제목</span>
                                    <span class="s2">
<!--                                        {{ form.thumb_title }}-->
                                        <input type="text" name="thumb_title" class="inorder_txt" placeholder="김신랑♥김신부 결혼합니다" maxlength="20" required="" id="id_thumb_title" style="max-width: 238px; width: calc(100% - 22px);">
<!--                                        <input type="text" name="{{ form.thumb_title }}" placeholder=" ♥  결혼합니다" class="inorder_txt" >-->
                                    </span>
                                </div>
                                <div class="morder-field">
                                    <span class="s1">내용</span>
                                    <span class="s2">
                                        <textarea name="thumb_content" cols="40" rows="10" class="input_txt" placeholder="5월 30일 목요일 오후 1시 30분" maxlength="100" required="" id="id_thumb_content" style="width: 100%; max-width: 260px; height: 80px;"></textarea>

<!--                                        <input type="text" placeholder="5월 30일 오후 1시 30분" class="inorder_txt" style="max-width: 238px; width: calc(100% - 22px);">-->
<!--                                        <textarea rows="2" placeholder="5월 30일 목요일 오후 1시 30분" class="input_txt" style="width: 100%; max-width: 260px; height: 80px;"></textarea>-->
                                    </span>
                                    <div class="morder-desc">
                                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-info">
                                            <circle cx="12" cy="12" r="10"></circle><line x1="12" x2="12" y1="16" y2="12"></line>
                                            <line x1="12" x2="12.01" y1="8" y2="8"></line>
                                        </svg>
                                        <span>청첩장 하단의 [카카오톡 공유하기]로 전달할 때 표시됩니다.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="st">
                        <div class="th">
                            <div>
                                <span class="title">
                                    <span>연락하기</span>
                                </span>
                            </div>
                            <div>
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-chevron-up">
                                    <polyline points="18 15 12 9 6 15"></polyline>
                                </svg>
                            </div>
                        </div>
                        <div class="td">
                            <div class="morder-group">
                                <div class="morder-field">
                                    <span class="s2 m-w100">
                                        <input maxlength="10" placeholder="신랑" class="inorder_txt black" style="width: 80px;">
                                        <input maxlength="10" placeholder="" class="inorder_txt black" style="width: 60px;">
                                        <input maxlength="13" placeholder="전화번호" type="tel" class="inorder_txt" style="width: 100px;">
                                    </span>
                                </div>
                                <div class="morder-field">
                                    <span class="s2 m-w100">
                                        <input maxlength="10" placeholder="신랑 아버지" class="inorder_txt black" style="width: 80px;">
                                        <input maxlength="10" placeholder="" class="inorder_txt black" style="width: 60px;">
                                        <input maxlength="13" placeholder="전화번호" type="tel" class="inorder_txt" style="width: 100px;">
                                    </span>
                                </div>
                                <div class="morder-field">
                                    <span class="s2 m-w100">
                                        <input maxlength="10" placeholder="신랑 어머니" class="inorder_txt black" style="width: 80px;">
                                        <input maxlength="10" placeholder="" class="inorder_txt black" style="width: 60px;">
                                        <input maxlength="13" placeholder="전화번호" type="tel" class="inorder_txt" style="width: 100px;">
                                    </span>
                                </div>
                                <div class="morder-field" style="margin-top: 16px;">
                                    <span class="s2 m-w100">
                                        <input maxlength="10" placeholder="신부" class="inorder_txt black" style="width: 80px;">
                                        <input maxlength="10" placeholder="" class="inorder_txt black" style="width: 60px;">
                                        <input maxlength="13" placeholder="전화번호" type="tel" class="inorder_txt" style="width: 100px;">
                                    </span>
                                </div>
                                <div class="morder-field">
                                    <span class="s2 m-w100">
                                        <input maxlength="10" placeholder="신부 아버지" class="inorder_txt black" style="width: 80px;">
                                        <input maxlength="10" placeholder="" class="inorder_txt black" style="width: 60px;">
                                        <input maxlength="13" placeholder="전화번호" type="tel" class="inorder_txt" style="width: 100px;">
                                    </span>
                                </div>
                                <div class="morder-field">
                                    <span class="s2 m-w100">
                                        <input maxlength="10" placeholder="신부 어머니" class="inorder_txt black" style="width: 80px;">
                                        <input maxlength="10" placeholder="" class="inorder_txt black" style="width: 60px;">
                                        <input maxlength="13" placeholder="전화번호" type="tel" class="inorder_txt" style="width: 100px;">
                                    </span>
                                </div>
                            </div>
                            <div class="morder-desc">
                                <div>
                                    <div>
                                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-info">
                                            <circle cx="12" cy="12" r="10"></circle>
                                            <line x1="12" x2="12" y1="16" y2="12"></line>
                                            <line x1="12" x2="12.01" y1="8" y2="8"></line>
                                        </svg>
                                    </div>
                                    <div>전화번호가 입력된 항목만 표시됩니다.</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div data-v-70c48e3a="" class="st">
                        <div data-v-70c48e3a="" class="th">
                            <div data-v-70c48e3a="">
                                <span data-v-70c48e3a="" class="title">계좌번호</span>
                            </div>
                            <div data-v-70c48e3a="">
                                <svg data-v-70c48e3a="" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-chevron-up">
                                    <polyline points="18 15 12 9 6 15"></polyline>
                                </svg>
                            </div>
                        </div>
                        <div data-v-70c48e3a="" class="td">
                            <div data-v-70c48e3a="" class="morder-group lr">
                                <div data-v-70c48e3a="">
                                    <div data-v-70c48e3a="" class="morder-field">
                                        <span data-v-70c48e3a="" class="s1">그룹명</span>
                                        <span data-v-70c48e3a="" class="s2">
                                            <input data-v-70c48e3a="" type="text" class="inorder_txt" style="width: calc(100% - 22px);">
                                            <div data-v-70c48e3a="" style="font-size: 11px;">
                                                ※ 그룹명이 같은 계좌끼리는 함께 표시됩니다.
                                            </div>
                                        </span>
                                    </div>
                                    <div data-v-70c48e3a="" class="morder-field">
                                        <span data-v-70c48e3a="" class="s1">계좌번호</span>
                                        <span data-v-70c48e3a="" class="s2">
                                            <div data-v-70c48e3a="" style="display: flex;">
                                                <div data-v-70c48e3a="" style="flex: 1.2 1 0%;">
                                                    <input data-v-70c48e3a="" type="text" placeholder="은행" class="inorder_txt" style="width: calc(100% - 27px);">
                                                </div>
                                                <div data-v-70c48e3a="" style="flex: 3 1 0%;">
                                                    <input data-v-70c48e3a="" type="text" placeholder="계좌번호" class="inorder_txt" style="width: calc(100% - 22px);">
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                    <div data-v-70c48e3a="" class="morder-field">
                                        <span data-v-70c48e3a="" class="s1">예금주</span>
                                        <span data-v-70c48e3a="" class="s2">
                                            <input data-v-70c48e3a="" type="text" class="inorder_txt" style="width: calc(100% - 22px);">
                                        </span>
                                    </div>
                                </div>
                                <div data-v-70c48e3a="">
                                    <div data-v-70c48e3a="">
                                        <div data-v-70c48e3a="" class="close disabled">
                                            <span data-v-70c48e3a="">
                                                <svg data-v-70c48e3a="" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-chevron-up">
                                                    <polyline points="18 15 12 9 6 15"></polyline>
                                                </svg>
                                            </span>
                                        </div>
                                        <div data-v-70c48e3a="" class="close">
                                            <span data-v-70c48e3a="">
                                                <svg data-v-70c48e3a="" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-chevron-down">
                                                    <polyline points="6 9 12 15 18 9"></polyline>
                                                </svg>
                                            </span>
                                        </div>
                                        <div data-v-70c48e3a="" class="close">
                                            <span data-v-70c48e3a="">
                                                <svg data-v-70c48e3a="" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-x">
                                                    <line x1="18" x2="6" y1="6" y2="18"></line>
                                                    <line x1="6" x2="18" y1="6" y2="18"></line>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-v-70c48e3a="" class="morder-group lr">
                                <div data-v-70c48e3a="">
                                    <div data-v-70c48e3a="" class="morder-field">
                                        <span data-v-70c48e3a="" class="s1">그룹명</span>
                                        <span data-v-70c48e3a="" class="s2">
                                            <input data-v-70c48e3a="" type="text" class="inorder_txt" style="width: calc(100% - 22px);">
                                            <div data-v-70c48e3a="" style="font-size: 11px;">
                                                ※ 그룹명이 같은 계좌끼리는 함께 표시됩니다.
                                            </div>
                                        </span>
                                    </div>
                                    <div data-v-70c48e3a="" class="morder-field">
                                        <span data-v-70c48e3a="" class="s1">계좌번호</span>
                                        <span data-v-70c48e3a="" class="s2">
                                            <div data-v-70c48e3a="" style="display: flex;">
                                                <div data-v-70c48e3a="" style="flex: 1.2 1 0%;">
                                                    <input data-v-70c48e3a="" type="text" placeholder="은행" class="inorder_txt" style="width: calc(100% - 27px);">
                                                </div>
                                                <div data-v-70c48e3a="" style="flex: 3 1 0%;">
                                                    <input data-v-70c48e3a="" type="text" placeholder="계좌번호" class="inorder_txt" style="width: calc(100% - 22px);"></div>
                                            </div>
                                        </span>
                                    </div>
                                    <div data-v-70c48e3a="" class="morder-field">
                                        <span data-v-70c48e3a="" class="s1">예금주</span>
                                        <span data-v-70c48e3a="" class="s2">
                                            <input data-v-70c48e3a="" type="text" class="inorder_txt" style="width: calc(100% - 22px);">
                                        </span>
                                    </div>
                                </div>
                                <div data-v-70c48e3a="">
                                    <div data-v-70c48e3a="">
                                        <div data-v-70c48e3a="" class="close">
                                            <span data-v-70c48e3a="">
                                                <svg data-v-70c48e3a="" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-chevron-up">
                                                    <polyline points="18 15 12 9 6 15"></polyline>
                                                </svg>
                                            </span>
                                        </div>
                                        <div data-v-70c48e3a="" class="close disabled">
                                            <span data-v-70c48e3a="">
                                                <svg data-v-70c48e3a="" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-chevron-down">
                                                    <polyline points="6 9 12 15 18 9"></polyline>
                                                </svg>
                                            </span>
                                        </div>
                                        <div data-v-70c48e3a="" class="close">
                                            <span data-v-70c48e3a="">
                                                <svg data-v-70c48e3a="" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-x">
                                                    <line x1="18" x2="6" y1="6" y2="18"></line>
                                                    <line x1="6" x2="18" y1="6" y2="18"></line>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-v-70c48e3a="" class="morder-group">
                                <div data-v-70c48e3a="" class="morder-field">
                                    <div data-v-70c48e3a="" style="text-align: center;">
                                        <div data-v-70c48e3a="" class="morder-btn large">+ 계좌정보 추가</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script id="code" src="{% static 'js/navermapapi.js' %}"></script>
{% endblock %}