{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="mb-4" style="display:flex; justify-content:space-between;">
        <h3>모바일 청첩장</h3>
        <input type="submit" form="cardform" class="btn btn-dark col-1" value="저장하기">
    </div>
    <div class="morder-editor">
        <div class="morder-preview">
            미리보기
        </div>
        <div class="morder-list-content">
            <form id="cardform" action="{% url 'card:create' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="morder-table">
                    <div class="st">
                        <div class="th">
                            <div>테마</div>
                            <div data-v-72618a6e="">
                                <svg data-v-72618a6e="" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-chevron-up">
                                    <polyline points="18 15 12 9 6 15"></polyline>
                                </svg>
                            </div>
                        </div>
                        <div class="td">
                            <div class="morder-group">
                                <div class="morder-field">
                                    <span class="s1">테마</span>
                                    <span class="s2">
                                        <div style="display:flex; gap:6px;">
                                            <div>
                                                {{ form.theme }}
                                            </div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="st">
                        <div class="th">
                            <div>인트로</div>
                            <div>
                                <svg data-v-11b6c47c="" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-chevron-up">
                                    <polyline points="18 15 12 9 6 15"></polyline>
                                </svg>
                            </div>
                        </div>
                        <div class="td" style="padding: 0px; border: 0px; top: 0px; background: rgba(0, 0, 0, 0);">
                            <div class="td" style="padding-top: 30px;">
                                <div class="morder-group">
                                    <div class="morder-field" style="margin-bottom: 16px;">
                                        <span class="s1">사진</span>
                                        <span class="s2">
                                            <div class="upload-box" data-preview-target="preview1">
                                                <span>클릭 후 업로드</span>
                                                <img id="preview1" src=""/>
                                                <div class="thm-btn-wrap" onclick="deleteImage(event, 'preview1')" style="display: none;">
                                                    <div class="thm-btn-edit">
                                                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-x">
                                                            <line x1="18" x2="6" y1="6" y2="18"></line>
                                                            <line x1="6" x2="18" y1="6" y2="18"></line>
                                                        </svg>
                                                    </div>
                                                </div>
                                                {{ form.main_img }}
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="st">
                        <div class="th">
                            <div>신랑측 정보</div>
                            <div>
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-chevron-up">
                                    <polyline points="18 15 12 9 6 15"></polyline>
                                </svg>
                            </div>
                        </div>
                        <div class="td">
                            <div class="morder-group">
                                <div class="morder-field">
                                    <span class="s1">아버님</span>
                                    <span class="s2">
                                        {{ form.groom_father_name }}
                                    </span>
                                </div>
                                <div class="morder-field">
                                    <span class="s1">어머님</span>
                                    <span class="s2">
                                        {{ form.groom_mother_name }}
                                    </span>
                                </div>
                                <div class="morder-field">
                                    <span class="s1">신랑님</span>
                                    <span class="s2">
                                        {{ form.groom_name }}
                                    </span>
                                </div>
                                <div class="morder-field">
                                    <span class="s1">관계</span>
                                    <span class="s2">
                                        {{ form.groom_position }}
                                    </span>
                                    <div class="morder-desc">
                                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-info">
                                            <circle cx="12" cy="12" r="10"></circle>
                                            <line x1="12" x2="12" y1="16" y2="12"></line>
                                            <line x1="12" x2="12.01" y1="8" y2="8"></line>
                                        </svg>
                                        <span>아버님·어머님 성함은 생략할 수 있습니다.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="st">
                        <div class="th">
                            <div>신부측 정보</div>
                            <div>
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-chevron-up">
                                    <polyline points="18 15 12 9 6 15"></polyline>
                                </svg>
                            </div>
                        </div>
                        <div class="td">
                            <div class="morder-group">
                                <div class="morder-field">
                                    <span class="s1">아버님</span>
                                    <span class="s2">
                                        {{ form.bride_father_name }}
                                    </span>
                                </div>
                                <div class="morder-field">
                                    <span class="s1">어머님</span>
                                    <span class="s2">
                                        {{ form.bride_mother_name }}
                                    </span>
                                </div>
                                <div class="morder-field">
                                    <span class="s1">신부님</span>
                                    <span class="s2">
                                        {{ form.bride_name }}
                                    </span>
                                </div>
                                <div class="morder-field">
                                    <span class="s1">관계</span>
                                    <span class="s2">
                                        {{ form.bride_position }}
                                    </span>
                                    <div class="morder-desc">
                                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-info">
                                            <circle cx="12" cy="12" r="10"></circle>
                                            <line x1="12" x2="12" y1="16" y2="12"></line>
                                            <line x1="12" x2="12.01" y1="8" y2="8"></line>
                                        </svg>
                                        <span>아버님·어머님 성함은 생략할 수 있습니다.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="st">
                        <div class="th">
                            <div>모시는 글</div>
                            <div>
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-chevron-up">
                                    <polyline points="18 15 12 9 6 15"></polyline>
                                </svg>
                            </div>
                        </div>
                        <div class="td">
                            <div class="morder-group">
                                <div class="morder-field">
                                    <span class="s1">제목</span>
                                    <span class="s2">
                                        {{ form.invitation_title }}
                                    </span>
                                </div>
                                <div class="morder-field">
                                    <span class="s1">내용</span>
                                    <span class="s2">
                                        <div style="max-width: 100%;">
                                            <div>
                                                {{ form.invitation_content }}
                                            </div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="st">
                        <div class="th">
                            <div>예식일시</div>
                            <div><svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-chevron-up">
                                <polyline points="18 15 12 9 6 15"></polyline>
                            </svg>
                            </div>
                        </div>
                        <div class="td">
                            <div class="morder-group">
                                <div class="morder-field">
                                    <span class="s1">예식일</span>
                                    <span class="s2" style="position: relative;">
                                        {{ form.wedding_date }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-v-41b0ff6a="" class="st">
                        <div data-v-41b0ff6a="" class="th">
                            <div data-v-41b0ff6a="">
                                <span data-v-41b0ff6a="" class="title">예식장소</span>
                            </div>
                            <div data-v-41b0ff6a="">
                                <svg data-v-41b0ff6a="" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-chevron-up">
                                    <polyline points="18 15 12 9 6 15"></polyline>
                                </svg>
                            </div>
                        </div>
                        <div data-v-41b0ff6a="" class="td">
                            <div data-v-41b0ff6a="" class="morder-group">
                                <div data-v-41b0ff6a="" class="morder-field">
                                    <span data-v-41b0ff6a="" class="s1">예식장명</span>
                                    <span data-v-41b0ff6a="" class="s2">
                                        {{ form.wedding_hall_name }}
                                    </span>
                                </div>
                                <div data-v-41b0ff6a="" class="morder-field">
                                    <span data-v-41b0ff6a="" class="s1">층과 홀</span>
                                    <span data-v-41b0ff6a="" class="s2">
                                        {{ form.wedding_hall_floor }}
                                    </span>
                                </div> <!---->
                                <div data-v-41b0ff6a="" class="morder-field">
                                    <span data-v-41b0ff6a="" class="s1">주소</span>
                                    <span data-v-41b0ff6a="" class="s2" style="width: calc(100% - 80px); max-width: 400px; position: relative;">
                                        {{ form.wedding_hall_address }}
                                        <input id="submit" type="button"  class="morder-btn" style="position: absolute; right: 0px;" value="검색" />
                                    </span>
                                    <br>
                                    <br>
                                    <div id="wrap" class="section map-wrapper">
                                        <div id="map" style="width:100%;height:300px;">
                                        </div>
                                        <code id="snippet" class="snippet"></code>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="st">
                        <div class="th">
                            <div>
                                <span class="title">교통수단</span>
                            </div>
                            <div>
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-chevron-up">
                                    <polyline points="18 15 12 9 6 15"></polyline>
                                </svg>
                            </div>
                        </div>
                        <div class="td">
                            <div id="transport-container">
                                {{ transport_formset.management_form }}
                                {% for form in transport_formset %}
                                    <div class="morder-group lr transport-box">
                                        <div>
                                            <div class="morder-field">
                                                <span class="s1 m-hide">교통수단</span>
                                                <span class="s2 m-w100">
                                                    {{ form.name }}
                                                </span>
                                            </div>
                                            <div class="morder-field">
                                                <span class="s1 m-hide">설명</span>
                                                <span class="s2 m-w100">
                                                    <div style="max-width: 100%;">
                                                        <div>
                                                            {{ form.description }}
                                                        </div>
                                                    </div>
                                                </span>
                                            </div>
                                        </div>
                                        <div>
                                            <span>
                                                <div class="close move-up disabled">
                                                    <span>
                                                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-chevron-up">
                                                            <polyline points="18 15 12 9 6 15"></polyline>
                                                        </svg>
                                                    </span>
                                                </div>
                                                <div class="close move-down">
                                                    <span>
                                                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-chevron-down">
                                                            <polyline points="6 9 12 15 18 9"></polyline>
                                                        </svg>
                                                    </span>
                                                </div>
                                                <div class="close remove">
                                                    <span>
                                                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-x">
                                                            <line x1="18" x2="6" y1="6" y2="18"></line>
                                                            <line x1="6" x2="18" y1="6" y2="18"></line>
                                                        </svg>
                                                    </span>
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="morder-group">
                                <div class="morder-field">
                                    <div style="text-align: center;">
                                        <div id="add-transport" class="morder-btn large">+ 교통수단 추가</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="st">
                        <div class="th">
                            <div>
                                <span class="title">갤러리</span>
                            </div>
                            <div>
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-chevron-up">
                                    <polyline points="18 15 12 9 6 15"></polyline>
                                </svg>
                            </div>
                        </div>
                        <div class="td">
                            <div class="morder-group" style="border-top: 0px; padding-top: 0px;">
                                <div>
                                    <div class="gallery-upload">
                                        <input type="file" accept="image/*" multiple="multiple" hidden="hidden">
                                        <div class="button">사진 업로드</div>
                                        <div>또는 사진을 끌어서 놓으세요</div>
                                    </div>
                                    <div class="gallery-drag-container">
                                        <div class="swipe-container">
                                            <div class="items">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gallery-toolbar">
                                        <div>
                                            <span>0</span>
                                            <span class="total">/ 60</span>
                                        </div>
                                    </div>
                                    <div style="line-height: 0;">
                                        <img id="drag-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
                                    </div>
                                </div>
                            </div>
                            <div class="morder-desc">
                                <div>
                                    <div>
                                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-info">
                                            <circle cx="12" cy="12" r="10"></circle>
                                            <line x1="12" x2="12" y1="16" y2="12"></line>
                                            <line x1="12" x2="12.01" y1="8" y2="8"></line>
                                        </svg>
                                    </div>
                                    <div>사진은 최대 20장까지 첨부할 수 있습니다.</div>
                                </div>
                                <div>
                                    <div>
                                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-info">
                                            <circle cx="12" cy="12" r="10"></circle>
                                            <line x1="12" x2="12" y1="16" y2="12"></line>
                                            <line x1="12" x2="12.01" y1="8" y2="8"></line>
                                        </svg>
                                    </div>
                                    <div>사진 순서를 변경하려면 드래그하거나 사진 2장을 선택하세요.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="st">
                        <div class="th">
                            <div>
                                <span class="title">카카오톡 공유 썸네일</span>
                            </div>
                            <div>
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-chevron-up">
                                    <polyline points="18 15 12 9 6 15"></polyline>
                                </svg>
                            </div>
                        </div>
                        <div class="td">
                            <div class="morder-group">
                                <div class="morder-field">
                                    <span class="s1">사진</span>
                                    <span class="s2">
                                        <div class="upload-box" data-preview-target="preview2">
                                            <span>클릭 후 업로드</span>
                                            <img id="preview2" src=""/>
                                            <div class="thm-btn-wrap" onclick="deleteImage(event, 'preview2')" style="display: none;">
                                                <div class="thm-btn-edit">
                                                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-x">
                                                        <line x1="18" x2="6" y1="6" y2="18"></line>
                                                        <line x1="6" x2="18" y1="6" y2="18"></line>
                                                    </svg>
                                                </div>
                                            </div>
                                            {{ form.thumb_img }}
                                        </div>
                                    </span>
                                </div>
                                <div class="morder-field">
                                    <span class="s1">제목</span>
                                    <span class="s2">
                                        {{ form.thumb_title }}
                                    </span>
                                </div>
                                <div class="morder-field">
                                    <span class="s1">내용</span>
                                    <span class="s2">
                                        {{ form.thumb_content }}
                                    </span>
                                    <div class="morder-desc">
                                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-info">
                                            <circle cx="12" cy="12" r="10"></circle><line x1="12" x2="12" y1="16" y2="12"></line>
                                            <line x1="12" x2="12.01" y1="8" y2="8"></line>
                                        </svg>
                                        <span>청첩장 하단의 [카카오톡 공유하기]로 전달할 때 표시됩니다.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="st">
                        <div class="th">
                            <div>
                                <span class="title">
                                    <span>연락하기</span>
                                </span>
                            </div>
                            <div>
                                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-chevron-up">
                                    <polyline points="18 15 12 9 6 15"></polyline>
                                </svg>
                            </div>
                        </div>
                        <div class="td">
                            <div class="morder-group">
                                <div class="morder-field">
                                    <span class="s2 m-w100">
                                        <input maxlength="10" placeholder="신랑" class="inorder_txt black" style="width: 80px;">
                                        <input maxlength="10" placeholder="" class="inorder_txt black" style="width: 60px;">
                                        <input maxlength="13" placeholder="전화번호" type="tel" class="inorder_txt" style="width: 100px;">
                                    </span>
                                </div>
                                <div class="morder-field">
                                    <span class="s2 m-w100">
                                        <input maxlength="10" placeholder="신랑 아버지" class="inorder_txt black" style="width: 80px;">
                                        <input maxlength="10" placeholder="" class="inorder_txt black" style="width: 60px;">
                                        <input maxlength="13" placeholder="전화번호" type="tel" class="inorder_txt" style="width: 100px;">
                                    </span>
                                </div>
                                <div class="morder-field">
                                    <span class="s2 m-w100">
                                        <input maxlength="10" placeholder="신랑 어머니" class="inorder_txt black" style="width: 80px;">
                                        <input maxlength="10" placeholder="" class="inorder_txt black" style="width: 60px;">
                                        <input maxlength="13" placeholder="전화번호" type="tel" class="inorder_txt" style="width: 100px;">
                                    </span>
                                </div>
                                <div class="morder-field" style="margin-top: 16px;">
                                    <span class="s2 m-w100">
                                        <input maxlength="10" placeholder="신부" class="inorder_txt black" style="width: 80px;">
                                        <input maxlength="10" placeholder="" class="inorder_txt black" style="width: 60px;">
                                        <input maxlength="13" placeholder="전화번호" type="tel" class="inorder_txt" style="width: 100px;">
                                    </span>
                                </div>
                                <div class="morder-field">
                                    <span class="s2 m-w100">
                                        <input maxlength="10" placeholder="신부 아버지" class="inorder_txt black" style="width: 80px;">
                                        <input maxlength="10" placeholder="" class="inorder_txt black" style="width: 60px;">
                                        <input maxlength="13" placeholder="전화번호" type="tel" class="inorder_txt" style="width: 100px;">
                                    </span>
                                </div>
                                <div class="morder-field">
                                    <span class="s2 m-w100">
                                        <input maxlength="10" placeholder="신부 어머니" class="inorder_txt black" style="width: 80px;">
                                        <input maxlength="10" placeholder="" class="inorder_txt black" style="width: 60px;">
                                        <input maxlength="13" placeholder="전화번호" type="tel" class="inorder_txt" style="width: 100px;">
                                    </span>
                                </div>
                            </div>
                            <div class="morder-desc">
                                <div>
                                    <div>
                                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-info">
                                            <circle cx="12" cy="12" r="10"></circle>
                                            <line x1="12" x2="12" y1="16" y2="12"></line>
                                            <line x1="12" x2="12.01" y1="8" y2="8"></line>
                                        </svg>
                                    </div>
                                    <div>전화번호가 입력된 항목만 표시됩니다.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-v-70c48e3a="" class="st">
                        <div data-v-70c48e3a="" class="th">
                            <div data-v-70c48e3a="">
                                <span data-v-70c48e3a="" class="title">계좌번호</span>
                            </div>
                            <div data-v-70c48e3a="">
                                <svg data-v-70c48e3a="" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-chevron-up">
                                    <polyline points="18 15 12 9 6 15"></polyline>
                                </svg>
                            </div>
                        </div>
                        <div data-v-70c48e3a="" class="td">
                            <div data-v-70c48e3a="" class="morder-group lr">
                                <div data-v-70c48e3a="">
                                    <div data-v-70c48e3a="" class="morder-field">
                                        <span data-v-70c48e3a="" class="s1">그룹명</span>
                                        <span data-v-70c48e3a="" class="s2">
                                            <input data-v-70c48e3a="" type="text" class="inorder_txt" style="width: calc(100% - 22px);">
                                            <div data-v-70c48e3a="" style="font-size: 11px;">
                                                ※ 그룹명이 같은 계좌끼리는 함께 표시됩니다.
                                            </div>
                                        </span>
                                    </div>
                                    <div data-v-70c48e3a="" class="morder-field">
                                        <span data-v-70c48e3a="" class="s1">계좌번호</span>
                                        <span data-v-70c48e3a="" class="s2">
                                            <div data-v-70c48e3a="" style="display: flex;">
                                                <div data-v-70c48e3a="" style="flex: 1.2 1 0%;">
                                                    <input data-v-70c48e3a="" type="text" placeholder="은행" class="inorder_txt" style="width: calc(100% - 27px);">
                                                </div>
                                                <div data-v-70c48e3a="" style="flex: 3 1 0%;">
                                                    <input data-v-70c48e3a="" type="text" placeholder="계좌번호" class="inorder_txt" style="width: calc(100% - 22px);">
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                    <div data-v-70c48e3a="" class="morder-field">
                                        <span data-v-70c48e3a="" class="s1">예금주</span>
                                        <span data-v-70c48e3a="" class="s2">
                                            <input data-v-70c48e3a="" type="text" class="inorder_txt" style="width: calc(100% - 22px);">
                                        </span>
                                    </div>
                                </div>
                                <div data-v-70c48e3a="">
                                    <div data-v-70c48e3a="">
                                        <div data-v-70c48e3a="" class="close disabled">
                                            <span data-v-70c48e3a="">
                                                <svg data-v-70c48e3a="" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-chevron-up">
                                                    <polyline points="18 15 12 9 6 15"></polyline>
                                                </svg>
                                            </span>
                                        </div>
                                        <div data-v-70c48e3a="" class="close">
                                            <span data-v-70c48e3a="">
                                                <svg data-v-70c48e3a="" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-chevron-down">
                                                    <polyline points="6 9 12 15 18 9"></polyline>
                                                </svg>
                                            </span>
                                        </div>
                                        <div data-v-70c48e3a="" class="close">
                                            <span data-v-70c48e3a="">
                                                <svg data-v-70c48e3a="" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-x">
                                                    <line x1="18" x2="6" y1="6" y2="18"></line>
                                                    <line x1="6" x2="18" y1="6" y2="18"></line>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-v-70c48e3a="" class="morder-group lr">
                                <div data-v-70c48e3a="">
                                    <div data-v-70c48e3a="" class="morder-field">
                                        <span data-v-70c48e3a="" class="s1">그룹명</span>
                                        <span data-v-70c48e3a="" class="s2">
                                            <input data-v-70c48e3a="" type="text" class="inorder_txt" style="width: calc(100% - 22px);">
                                            <div data-v-70c48e3a="" style="font-size: 11px;">
                                                ※ 그룹명이 같은 계좌끼리는 함께 표시됩니다.
                                            </div>
                                        </span>
                                    </div>
                                    <div data-v-70c48e3a="" class="morder-field">
                                        <span data-v-70c48e3a="" class="s1">계좌번호</span>
                                        <span data-v-70c48e3a="" class="s2">
                                            <div data-v-70c48e3a="" style="display: flex;">
                                                <div data-v-70c48e3a="" style="flex: 1.2 1 0%;">
                                                    <input data-v-70c48e3a="" type="text" placeholder="은행" class="inorder_txt" style="width: calc(100% - 27px);">
                                                </div>
                                                <div data-v-70c48e3a="" style="flex: 3 1 0%;">
                                                    <input data-v-70c48e3a="" type="text" placeholder="계좌번호" class="inorder_txt" style="width: calc(100% - 22px);"></div>
                                            </div>
                                        </span>
                                    </div>
                                    <div data-v-70c48e3a="" class="morder-field">
                                        <span data-v-70c48e3a="" class="s1">예금주</span>
                                        <span data-v-70c48e3a="" class="s2">
                                            <input data-v-70c48e3a="" type="text" class="inorder_txt" style="width: calc(100% - 22px);">
                                        </span>
                                    </div>
                                </div>
                                <div data-v-70c48e3a="">
                                    <div data-v-70c48e3a="">
                                        <div data-v-70c48e3a="" class="close">
                                            <span data-v-70c48e3a="">
                                                <svg data-v-70c48e3a="" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-chevron-up">
                                                    <polyline points="18 15 12 9 6 15"></polyline>
                                                </svg>
                                            </span>
                                        </div>
                                        <div data-v-70c48e3a="" class="close disabled">
                                            <span data-v-70c48e3a="">
                                                <svg data-v-70c48e3a="" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-chevron-down">
                                                    <polyline points="6 9 12 15 18 9"></polyline>
                                                </svg>
                                            </span>
                                        </div>
                                        <div data-v-70c48e3a="" class="close">
                                            <span data-v-70c48e3a="">
                                                <svg data-v-70c48e3a="" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-x">
                                                    <line x1="18" x2="6" y1="6" y2="18"></line>
                                                    <line x1="6" x2="18" y1="6" y2="18"></line>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-v-70c48e3a="" class="morder-group">
                                <div data-v-70c48e3a="" class="morder-field">
                                    <div data-v-70c48e3a="" style="text-align: center;">
                                        <div data-v-70c48e3a="" class="morder-btn large">+ 계좌정보 추가</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script id="code" src="{% static 'js/navermapapi.js' %}"></script>
    <script>
        // 이미지 미리보기 기능 (1)
        document.querySelectorAll('.upload-box').forEach(box => {
            box.addEventListener('click', () => {
                const input = box.querySelector('.image-input');
                input.click();
            });
        });

        // 이미지 미리보기 기능 (2)
        function previewImage(event) {
            const input = event.target;
            const previewId = input.getAttribute('data-preview');
            const output = document.getElementById(previewId);
            const span = output.previousElementSibling;
            const deleteIcon = output.nextElementSibling;

            var reader = new FileReader();
            reader.onload = function() {
                output.src = reader.result;
                output.style.display = 'block';
                span.style.display = 'none';
                deleteIcon.style.display = 'block';
            };
            reader.readAsDataURL(event.target.files[0]);
        }

        // 이미지 미리보기 기능 (3)
        function deleteImage(event, previewId) {
            event.stopPropagation();
            const output = document.getElementById(previewId);
            const span = output.previousElementSibling;
            const deleteIcon = output.nextElementSibling;
            const input = output.nextElementSibling.nextElementSibling;

            output.src = '';
            output.style.display = 'none';
            span.style.display = 'block';
            deleteIcon.style.display = 'none';
            input.value = '';
        }

        // 글상자 옵션 선택 시 스크롤 위치 이동 방지
        function executeCommand(command, value = null) {
            const scrollPosition = window.scrollY;
            document.execCommand(command, false, value);
            window.scrollTo(0, scrollPosition);
        }

        // 엔터 키로 폼 제출 방지
        document.addEventListener("DOMContentLoaded", function() {
            var form = document.getElementById("cardform");

            form.addEventListener("keydown", function(event) {
                if (event.key === "Enter") {
                    event.preventDefault();
                }
            });
        });

        // 교통수단 추가 버튼 눌렀을 때 입력란 생성
        document.addEventListener('DOMContentLoaded', function() {
            const addTransportButton = document.getElementById('add-transport');
            const transportContainer = document.getElementById('transport-container');
            const totalForms = document.getElementById('id_transports-TOTAL_FORMS');

            function updateButtonStates() {
                const transportDivs = document.querySelectorAll('.transport-box');
                transportDivs.forEach((div, index) => {
                    const moveUpButton = div.querySelector('.move-up');
                    const moveDownButton = div.querySelector('.move-down');

                    if (index === 0) {
                        moveUpButton.classList.add('disabled');
                    } else {
                        moveUpButton.classList.remove('disabled');
                    }

                    if (index === transportDivs.length - 1) {
                        moveDownButton.classList.add('disabled');
                    } else {
                        moveDownButton.classList.remove('disabled');
                    }
                });
            }

            addTransportButton.addEventListener('click', function() {
                const newIndex = document.querySelectorAll('.transport-box').length;
                const newTransportDiv = document.createElement('div');
                newTransportDiv.classList.add('morder-group', 'lr', 'transport-box');
                newTransportDiv.innerHTML = `
                    <div>
                        <div class="morder-field">
                            <span class="s1 m-hide">교통수단</span>
                            <span class="s2 m-w100">
                                <input type="text" name="transports-${newIndex}-name" class="inorder_txt transportation-input" style="width: calc(100% - 22px);" placeholder="버스" required id="id_transports-${newIndex}-name">
                            </span>
                        </div>
                        <div class="morder-field">
                            <span class="s1 m-hide">설명</span>
                            <span class="s2 m-w100">
                                <div style="max-width: 100%;">
                                    <div>
                                        <textarea class="te-textarea" style="height: 100px;" name="transports-${newIndex}-description" cols="40" rows="10" required id="id_transports-${newIndex}-description"></textarea>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                    <div>
                        <span>
                            <div class="close move-up">
                                <span>
                                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-chevron-up">
                                        <polyline points="18 15 12 9 6 15"></polyline>
                                    </svg>
                                </span>
                            </div>
                            <div class="close move-down">
                                <span>
                                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-chevron-down">
                                        <polyline points="6 9 12 15 18 9"></polyline>
                                    </svg>
                                </span>
                            </div>
                            <div class="close remove">
                                <span>
                                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-x">
                                        <line x1="18" x2="6" y1="6" y2="18"></line>
                                        <line x1="6" x2="18" y1="6" y2="18"></line>
                                    </svg>
                                </span>
                            </div>
                        </span>
                    </div>
                `;

                transportContainer.appendChild(newTransportDiv);
                // 총 폼 수 업데이트
                totalForms.setAttribute('value', newIndex + 1);

                // 위로 이동 버튼 클릭 이벤트 리스너 추가
                newTransportDiv.querySelector('.move-up').addEventListener('click', function() {
                    const currentDiv = this.closest('.transport-box');
                    const preDiv = currentDiv.previousElementSibling;
                    if (preDiv) {
                        transportContainer.insertBefore(currentDiv, preDiv);
                        updateButtonStates();
                    }
                });

                // 아래로 이동 버튼 클릭 이벤트 리스너 추가
                newTransportDiv.querySelector('.move-down').addEventListener('click', function() {
                    const currentDiv = this.closest('.transport-box');
                    const nextDiv = currentDiv.nextElementSibling;
                    if (nextDiv) {
                        transportContainer.insertBefore(nextDiv, currentDiv);
                        updateButtonStates();
                    }
                });

                // 삭제 버튼 클릭 이벤트 리스너 추가
                newTransportDiv.querySelector('.remove').addEventListener('click', function() {
                    const currentDiv = this.closest('.transport-box');
                    transportContainer.removeChild(currentDiv);
                    updateButtonStates();
                });

                updateButtonStates();
            });

            // 초기 로드된 요소에 대해 위로 이동 버튼 클릭 이벤트 리스너 추가
            document.querySelectorAll('.move-up').forEach(function(button) {
                button.addEventListener('click', function() {
                    const currentDiv = this.closest('.transport-box');
                    const preDiv = currentDiv.previousElementSibling;
                    if (preDiv) {
                        transportContainer.insertBefore(currentDiv, preDiv);
                        updateButtonStates();
                    }
                });
            });

            // 초기 로드된 요소에 대해 아래로 이동 버튼 클릭 이벤트 리스너 추가
            document.querySelectorAll('.move-down').forEach(function(button) {
                button.addEventListener('click', function() {
                    const currentDiv = this.closest('.transport-box');
                    const nextDiv = currentDiv.nextElementSibling;
                    if (nextDiv) {
                        transportContainer.insertBefore(nextDiv, currentDiv);
                        updateButtonStates();
                    }
                });
            });

            // 초기 로드된 요소에 대해 삭제 버튼 클릭 이벤트 리스너 추가
            document.querySelectorAll('.remove').forEach(function(button) {
                button.addEventListener('click', function() {
                    const currentDiv = this.closest('.transport-box');
                    transportContainer.removeChild(currentDiv);
                    updateButtonStates();
                });
            });

            // 초기 로드된 상태 업데이트
            updateButtonStates();
        });

    </script>
{% endblock %}