{% extends 'base.html' %}

{% block content %}
    <h4>제작 내역</h4>
    {% for card in cards %}
        <hr>
            <div style="display:flex; justify-content:space-between;">
                {% if card.main_img %}
                    <img src="{{ card.main_img.url }}" width=100px;>
                {% endif %}
                <a href="{% url 'card:detail' pk=card.pk %}">{{ card.invitation_title }}</a>
                <div>
                    <span>{{ card.created_at|date:'y.m.d' }}</span>
                    <a class="btn btn-primary" href="{% url 'card:update' pk=card.pk %}">수정</a>
                    <a class="btn btn-outline-dark" href="{% url 'card:delete' pk=card.pk %}">삭제</a>
                </div>
            </div>
    {% endfor %}
{% endblock %}