{% extends 'base.html' %}

{% block content %}
    <div style="text-align:center; max-width: 500px; margin: 4rem auto;">
        <div class="mb-4">
            <h1>회원가입</h1>
        </div>
        <div style="text-align:center; max-width: 300px; margin: 4rem auto">
            <form method="POST">
                {% csrf_token %}
                <label for="username">아이디</label>
                <input id="username" name="username" type="text" placeholder="아이디">
                <label for="username">비밀번호</label>
                <input name="password1" type="password" placeholder="비밀번호">
                <label for="username">비밀번호 확인</label>
                <input name="password2" type="password" placeholder="비밀번호 확인">
                <label for="username">전화번호</label>
                <input name="phone-number" type="tel" placeholder="전화번호">
                <label for="username">이메일</label>
                <input name="email" type="email" placeholder="이메일">
                <input type="submit" class="btn btn-dark rounded-pill col-6 mt-3">
            </form>
        </div>
    </div>
{% endblock %}