<footer style="background: #fafafa; padding: 1.5rem;">
    <div>
        <div style="border-bottom: 1px solid #eee; gap: 20px; display: flex; font-size: 13px; padding-bottom: 0.5rem;">
            <div>웨딩카드</div>
            <span>이용약관</span>
            <span>개인정보처리방침</span>
            <span>제휴문의</span>
        </div>
        <ul style="etter-spacing: 0; list-style-type: none; font-size: 12px; padding-left: 0px; margin-top: 0.5rem; color: #6b6b6b;">
            <li>상호명 : 웨딩카드 <span>ㅣ</span> 서울시 </li>
            <li>대표자 : 남서 <span>ㅣ</span> 이메일 : wedding-card@gmail.com</li>
            <li>사업자등록번호 : 000-00-00000</li>
            <li>통신판매업신고 : 제 2024-서울강남-0000 호</li>
        </ul>
    </div>
</footer>
